@inject IJSRuntime JsRuntime
@using Microsoft.JSInterop

<div id="editor" class="w-full border border-gray-300 mb-5" style="height: 400px" @ref="_editorElement"></div>
<button class="primary-basic cursor-pointer text-center mx-3 px-6 py-4 text-white font-bold rounded-lg" @onclick="FormatCode">Format Code</button>

@code {
    [Parameter] public string InitialCode { get; set; } = string.Empty;
    [Parameter] public string PlatformLanguage { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> OnCodeChange { get; set; }
    [Parameter] public EventCallback<string> OnCodeFormat { get; set; }

    private ElementReference _editorElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var dotNetRef = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("createMonacoEditor", _editorElement, new
            {
                value = InitialCode,
                language = PlatformLanguage,
                theme = "vs"
            });
            await JsRuntime.InvokeVoidAsync("setDotNetHelper", dotNetRef); // Pass the reference to JS
        }
    }

    private async Task FormatCode()
    {
        try
        {
            var code = await JsRuntime.InvokeAsync<string>("getMonacoEditorValue");
            await OnCodeFormat.InvokeAsync(code);
        }
        catch (JSException ex)
        {
            Console.Error.WriteLine($"JavaScript error: {ex.Message}");
        }
    }

    [JSInvokable("UpdateCode")]
    public async Task UpdateCode(string code)
    {
        await OnCodeChange.InvokeAsync(code);
    }

    [JSInvokable("FormatCode")]
    public async Task FormatCode(string code)
    {
        await OnCodeFormat.InvokeAsync(code);
    }

}