@using DomainModels

<NavLink href="@Link">
    <span class="@ButtonType-basic text-white font-bold rounded-lg @CustomClass">
        @ButtonText
    </span>
</NavLink>

@code {
    [Parameter] public ButtonType ButtonType { get; set; }

    [Parameter] public string? ButtonText { get; set; }

    [Parameter] public string? Link { get; set; }

    [Parameter] public string? CustomClass { get; set; }

}