@using DomainModels
@using ClientApp.Components

<div class="flex justify-between p-4">
    <div class="left-content flex items-center">
        <i class="fas fa-search text-sm mr-3"></i>
        <span>Search</span>
    </div>
    <div class="right-content">
        <GradientButton ButtonType=@GradientButtonType.primary ButtonText="Sign Up" Link=@Links.SignUp />
    </div>
</div>