@using ClientApp.Components

<div class="flex justify-between bg-white p-5">
    <div class="left-content flex items-center">
        <Breadcrumb />

    </div>
    <div class="right-content pt-4">
        @* <GradientButton ButtonType=@ButtonType.primary ButtonText="Sign Up" Link=@Links.SignUp/> *@
    </div>
</div>
