
<div class="flex justify-between bg-white p-5">
    <div class="left-content flex items-center">
        <!-- Search Bar -->
        <div class="px-4">
            <input type="text" class="p-2 w-96 rounded bg-gray-200 text-black placeholder-gray-500" placeholder="Search..."/>
        </div>

    </div>
    <div class="right-content pt-4">
        @* <GradientButton ButtonType=@ButtonType.primary ButtonText="Sign Up" Link=@Links.SignUp/> *@
    </div>
</div>
