@using DomainModels
@using ClientApp.Components

<div class="flex justify-between bg-white p-5 ">
    <div class="left-content flex items-center">
        
    </div>
    <div class="right-content">
        <GradientButton ButtonType=@GradientButtonType.primary ButtonText="Sign Up" Link=@Links.SignUp/>
    </div>
</div>