@using ClientApp.Components
@inherits LayoutComponentBase

<div class="flex ">
    <Sider/>
    <div class="h-screen w-screen overflow-y-hidden">
        <div class="flex-auto flex-col">
            <Header></Header>
            <div class="bg-gray-100">
                <div class="h-screen overflow-y-auto">
                    @Body
                </div>
                <NotificationComponent></NotificationComponent>
            </div>
        </div>
    </div>
</div>