@inherits LayoutComponentBase

<div class="flex">
    <!-- Sidebar -->
    <Sider/>

    <!-- Main Content -->
    <div class="bg-gray-100 h-screen">
        <Header></Header>

        <div class="flex mt-3 h-full">
            <div class="overflow-x-scroll">
                @Body
            </div>
        </div>
    </div>
</div>