@using Blazorise
@using DomainModels


<div>
    <a class="navbar-brand" href="">EvoEngineX logo</a>
</div>

<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
    <Icon Name="IconName.Home" IconSize="IconSize.Large" Margin="Margin.Is3"/>
    <Span>Home</Span>
</NavLink>

<NavLink class="nav-link" href="@Links.Codebases">
    <Icon Name="IconName.Code" IconSize="IconSize.Large" Margin="Margin.Is3"/>
    <Span >My codebases</Span>
</NavLink>

<NavLink class="nav-link" href="@Links.CloudProfile">
    <Icon Name="IconName.Cloud" IconSize="IconSize.Large" Margin="Margin.Is3"/>
    <Span >Cloud profile</Span>
</NavLink>

<NavLink class="nav-link" href="@Links.UserProfile">
    <Icon Name="IconName.Settings" IconSize="IconSize.Large" Margin="Margin.Is3"/>
    <Span >Settings</Span>
</NavLink>