@using Blazorise
@using DomainModels
@inject Theme Theme

<Bar Mode="BarMode.VerticalInline"
     CollapseMode="BarCollapseMode.Small"
     Breakpoint="Breakpoint.Desktop"
     NavigationBreakpoint="Breakpoint.Tablet"
     ThemeContrast="ThemeContrast.Dark">
    <BarBrand>
        <BarIcon IconName="IconName.Infinity" TextColor="@Theme.ColorOptions.Primary" IconSize="IconSize.x3" Margin="Margin.Is3"/>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="/">
                    <BarIcon IconName="IconName.Home" IconSize="IconSize.Small" Margin="Margin.Is3"/>
                    <span>Home</span>
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="@Links.Codebases">
                    <BarIcon IconName="IconName.Code" IconSize="IconSize.Small" Margin="Margin.Is3"/>
                    <span>Code</span>
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="@Links.CloudProfile">
                    <BarIcon IconName="IconName.Cloud" IconSize="IconSize.Small" Margin="Margin.Is3"/>
                    <span>Cloud profiles</span>
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="@Links.UserProfile">
                    <BarIcon IconName="IconName.Settings" IconSize="IconSize.Small" Margin="Margin.Is3"/>
                    <span>My profile</span>
                </BarLink>
            </BarItem>
        </BarStart>
    </BarMenu>
</Bar>