@using DomainModels
@using ClientApp.Components

<div class="bg-primary text-xl flex flex-col text-white  w-1/6">
    <!-- Brand -->
    <div class="flex items-center p-4">
        <i class="fas fa-infinity fa-2x mr-3"></i>
        <span class="text-xl font-bold">EvoEngineX</span>
    </div>
    <!-- Menu -->
    <nav class="flex-1 p-4 inline-flex">
        <ul>
            <MenuItem Icon="fa-home" ButtonText="Home" Link="/"/>
            <MenuItem Icon="fa-code" ButtonText="Code" Link=@Links.Codebases/>
            <MenuItem Icon="fa-cloud" ButtonText="Cloud profiles" Link=@Links.CloudProfile/>
            <MenuItem Icon="fa-cog" ButtonText="Settings" Link=@Links.UserProfile/>
        </ul>
    </nav>
</div>