@using DomainModels
@using ClientApp.Components
<div class="bg-primary w-1/5">
    <div class="m-2 flex flex-col text-white ">
        <!-- Brand -->
        <div class="flex items-center mb-4 p-4">
            <i class="fas fa-infinity fa-3x mr-3"></i>
            <span class="text-2xl font-bold">EvoEngineX</span>
        </div>
        <!-- Menu -->
        <nav class="mt-2 text-l ">
            <ul>
                <MenuItem Icon="fa-home" ButtonText="Home" Link="/"/>
                <MenuItem Icon="fa-code" ButtonText="Code" Link=@Links.Codebases/>
                @* <MenuItem Icon="fa-cloud" ButtonText="Cloud profiles" Link=@Links.CloudProfile/> *@
                <MenuItem Icon="fa-cog" ButtonText="Settings" Link=@Links.UserProfile/>
                <MenuItem Icon="fa-user-secret" ButtonText="Admin" Link=@Links.Admin/>
            </ul>
        </nav>
    </div>
</div>