<button class="primary-gradient cursor-pointer text-center mx-3 px-6 py-4 text-white font-bold rounded-lg" @onclick="RunCode" disabled="@IsRunning">
    @if (IsRunning)
    {
        <span>...</span>
    }
    else
    {
        <span>Run</span>
    }
</button>
<button class="secondary-basic cursor-pointer text-center mx-3 px-6 py-4 text-white font-bold rounded-lg" @onclick="SaveCode" disabled="@IsSaving">
    @if (IsSaving)
    {
        <span>....</span>
    }
    else
    {
        <span>Save</span>
    }
</button>

@code {
    [Parameter] public EventCallback OnRun { get; set; }
    [Parameter] public EventCallback OnSave { get; set; }
    [Parameter] public bool IsRunning { get; set; }
    [Parameter] public bool IsSaving { get; set; }

    private async Task RunCode()
    {
        await OnRun.InvokeAsync();
    }

    private async Task SaveCode()
    {
        await OnSave.InvokeAsync();
    }
}