@page "/"
@using Blazorise
<PageTitle>Home</PageTitle>

<h1 class="text-primary">Welcome to EvoEngineX... </h1>
<div class="alert alert-warning" role="alert">
    Write, run and analyze...
</div>

<div>
    <Layout>
        <Container>
            <h2>Last runs</h2>
            <Jumbotron>
                <Row>
                    <Column>
                        <Card>
                            <CardImage src="/img/1.jpg"/>
                            <CardBody>
                                <CardTitle>Card Title 1</CardTitle>
                                <CardText>This is a description for the first card.</CardText>
                            </CardBody>
                        </Card>
                    </Column>
                    <Column>
                        <Card>
                            <CardImage src="/img/2.jpg"/>
                            <CardBody>
                                <CardTitle>Card Title 2</CardTitle>
                                <CardText>This is a description for the first card.</CardText>
                            </CardBody>
                        </Card>
                    </Column>
                    <Column>
                        <Card>
                            <CardImage src="/img/3.jpg"/>
                            <CardBody>
                                <CardTitle>Card Title 3</CardTitle>
                                <CardText>This is a description for the first card.</CardText>
                            </CardBody>
                        </Card>
                    </Column>
                </Row>
            </Jumbotron>

            <h2>Cost of your usage</h2>

            <Jumbotron>
                <Row>
                    <Column>
                        <Card>
                            <CardImage src="/img/graph.png"/>
                            <CardBody>
                                <CardTitle>Some cool graph</CardTitle>
                                <CardText>This is a description for the first card.</CardText>
                            </CardBody>
                        </Card>
                    </Column>
                    <Column>
                        <Card>
                            <CardImage src="/img/graph.png"/>
                            <CardBody>
                                <CardTitle>Card Title 2</CardTitle>
                                <CardText>This is a description for the first card.</CardText>
                            </CardBody>
                        </Card>
                    </Column>
                </Row>
            </Jumbotron>
        </Container>
    </Layout>
</div>

@code{
    private string selectedSlide = "2";
}