@page "/"
@using Blazorise
<PageTitle>Home</PageTitle>

<h2 class="text-secondary">Write, run and analyze... </h2>

<Container Class="glass">
    <Grid Columns="GridColumns.Are5">
        <Column>
            <Card Margin="Margin.Is3" Class="dark-class">
                <CardBody>
                    <CardTitle>Card Title 1</CardTitle>
                    <CardText>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur culpa cumque distinctio, dolorum eum fugiat harum in magnam, nesciunt non odio quae quisquam ratione similique totam ullam, ut voluptatum.</CardText>
                    <Button Class="button-custom">Details</Button>
                </CardBody>
            </Card>
        </Column>
        <Column>
            <Card Margin="Margin.Is3" Class="dark-class">
                <CardBody>
                    <CardTitle>Card Title 2</CardTitle>
                    <CardText>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim harum iusto molestiae nulla odio officiis quis repellendus sint sunt vero. Beatae facere iste molestiae numquam quia quis ullam veniam voluptatum.</CardText>
                    <Button Class="button-custom">Details</Button>
                </CardBody>
            </Card>
        </Column>
        <Column>
            <Card Margin="Margin.Is3" Class="dark-class">
                <CardBody>
                    <CardTitle>Card Title 3</CardTitle>
                    <CardText>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dolores eaque iure pariatur perspiciatis porro quidem. Cupiditate doloremque ex laboriosam laudantium natus officiis, perferendis quasi qui, reprehenderit, sequi sunt vitae.</CardText>
                    <Button Class="button-custom">Details</Button>
                </CardBody>
            </Card>
        </Column>
    </Grid>

    <h2>Cost of your usage</h2>

    <Row>
        <Column Size="ColumnSize.Is6">
            <Card>
                @* <CardImage src="/img/graph.png"/> *@
                <CardBody>
                    <CardTitle>Some cool graph</CardTitle>
                    <CardText>This is a description for the first card.</CardText>
                </CardBody>
            </Card>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <Card>
                @* <CardImage src="/img/graph.png"/> *@
                <CardBody>
                    <CardTitle>Card Title 2</CardTitle>
                    <CardText>This is a description for the first card.</CardText>
                </CardBody>
            </Card>
        </Column>
    </Row>
</Container>